{{input
		disabled=disabled
		type=type
		value=value
		focus-in="focusIn"
		focus-out="focusOut"
		required=required
		maxlength=maxlength
		classNames='sq-direction'
		dasherize=dasherize
		subdomain=subdomain
		domain=domain
		email=email
		number=number
		format=format
		enterPressed='enterPressed'
		whitespace=whitespace
		capital=capital
}}

{{sq-ui-adaptive-label classNames="sq-align-left" value=placeholder tagName='label'}}

{{#if maxdisplay}}

	<p>{{maxcount}}</p>

{{/if}}

{{#if after}}

	{{input value=after classNames='after'}}

{{/if}}

{{yield}}
