{{sq-input-text
		disabled=true
		placeholder=placeholder
		value=display
		required=required
		criteria=criteria
}}

<ul>
	{{#each internals as |model|}}
		{{#if model.descriptior}}
			<li {{action 'select' model }}>{{model.name}}&nbsp;<span>{{model.name_descriptior}}</span></li>
		{{else}}
			<li {{action 'select' model }}>{{model.name}}</li>
		{{/if}}
	{{/each}}
</ul>