{{sq-input-text
		disabled=true
		placeholder=placeholder
		value=display
		required=required
		criteria=criteria
		medium=medium
}}

<span class="sq-right"></span>

<ul>
	{{#each internals as |model|}}
		{{#if model.descriptior}}
			<li class="sq-align-left" {{action 'select' model }}>{{model.name}}&nbsp;<span>{{model.name_descriptior}}</span></li>
		{{else}}
			<li class="sq-align-left" {{action 'select' model }}>{{model.name}}</li>
		{{/if}}
	{{/each}}
</ul>